
.image-collections {
  position: absolute;

  .collage-3-l {
    background: no-repeat 50% center;
    position: absolute;
    width: auto;
    height: 100%;
    right: 25%
  }

  .collage-3-rt {
    background: no-repeat center center;
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    top: 0;
  }

  .collage-3-rb {
    background: no-repeat center center;
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    bottom: 0;
  }

  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
}

.right-chat {
  .form-group.icon-input {
    .feather-search {
      top: 4px;
      left: 15px;
    }

    .feather-x-square {
      top: 4px;
      left: 200px;
    }
  }
}